html {
    width: 400px;
}

.calculadora {
    background: #6c5b7be6;
    border: solid;
    border-radius: 10px;
    border-color:#6d3c75;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}

#display {
    border-style: solid;
    border-radius: 5px;
    background: #bbd7e2;
    width:90%;
    height: 30px;
    margin: 5px auto;
    padding: 10px;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    }

button {
    margin: 3px;
    width: 80px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    background: #cea5a5;
    border-style: none;
    border-radius: 20px;
}

#apagar {
    width: 120px;
    height: 60px;
}